Schedule_for_besttime_workflow.asl.yaml
Comment: A description of my state machine
StartAt: LambdaCalcBesttime
States:
  LambdaCalcBesttime:
    Type: Task
    Resource: arn:aws:lambda:us-east-2:360914461006:function:testWattTime
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    Next: Wait
  Wait:
    Type: Wait
    SecondsPath: $.bestTime
    Next: LambdaWriteToTarget
  LambdaWriteToTarget:
    Type: Task
    Resource: arn:aws:lambda:us-east-2:360914461006:function:writeToDestination
    InputPath: $
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    End: true
